.gallery-section .row {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
} 

img {
    max-width: 100%;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.ty-container .section-text {
  margin-top: 0.5em;
}

.go-back {
  color: var(--light-grey);
  font-size: 0.75rem;
}